/*Corpo*/


body{
    
    margin: 0px;
    text-align: justify;
    font-size: 20px;
    background-color: white;
}
.container1{
    
    background: #9ACD32;
    text-shadow: 1px 1px black;
    font-family: Arial;
    text-align: left;
    border: #9ACD32 solid  10px;
   
}
#TextoPrincipal{
    text-align: center;  
}
#logo{

    width: 80px;

}
#cabecalho{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#home{
    
    color: white;
    font-family: helvetica;
    border: 0px;
    font-size: 20px;
    font-weight: 1000;
    background-color: #9ACD32;
    padding: 10px 10px;

}
#sobrenos{
    
    color: white;
    font-family: helvetica;
    border: 0px;
    font-size: 20px;
    font-weight: 1000;
    background-color: #9ACD32;
    padding: 10px 10px;
    margin-right: 300px;

}

/*Rodape*/



.rodape{
    background-color: #9ACD32;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    }
.rodape a{
    text-decoration: none;
    color: white;
    }
.rodape p{
    margin-bottom: 5px;
    }
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 5px 10px 5px 10px;
    }
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 5px;
    }
.rodape span{
    font-size: 20px;
    color: white;
    }
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 5px;
    margin: 0px;
    text-align: center;
    }

